<p>bookshop-form works!</p>
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #bookshopForm="ngForm">
        <div class="form-group">
          <label for="name">Nazwa</label>
          <input type="text" [(ngModel)]="bookshop.nazwa" 
            class="form-control" 
            id="nazwa" 
            name="nazwa" 
            placeholder="Enter your name"
            required #nazwa="ngModel">
        </div>
        <div [hidden]="!nazwa.pristine" class="alert alert-danger">Nazwa jest wymagana</div>
        <div class="form-group">
          <label for="liczba_pracownikow">Liczba Pracownikow </label>
          <input type="number" [(ngModel)]="bookshop.liczba_pracownikow" 
            class="form-control" 
            id="liczba_pracownikow" 
            name="liczba_pracownikow" 
            placeholder="Enter publish age"
            required #liczba_pracownikow="ngModel">
          <div [hidden]="!liczba_pracownikow.pristine" class="alert alert-danger">Liczba pracownikow jest wymagana</div>
        </div>
        <button type="submit" [disabled]="!bookshopForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>