<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col"> [ID]</th>
            <th scope="col"> [Nazwa]</th>
            <th scope="col"> [Liczba Pracownikow]</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ bookshop.id }}</td>
                <td>{{ bookshop.nazwa }}</td>
                <td>{{ bookshop.liczbaPracownikow }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>